@model PL.Models.Auctions.MyAuctionsModel

<h2>MyAuctions</h2>

@Html.ActionLink("Create new auction", "Create", "Auctions")

<div>
    <h3>Ongoing auctions</h3>
    @Html.Partial("_AuctionList", Model.Ongoing)
</div>
<div>
    <h3>Ended auctions</h3>
    @Html.Partial("_AuctionList", Model.Ended)
</div>
