@using BL.DTOs.Base
@model IEnumerable<AuctionDto>

<h2>Auction list</h2>

<table style="width: 100%">
    <thead>
    <tr>
        <th>Auction name</th>
        <th>Items price</th>
        <th>Actions</th>
    </tr>
    </thead>

    <tbody>

        @foreach (var dto in Model)
        {
            <tr>
                <td>@dto.Name</td>
                <td>@dto.ActualPrice</td>
                <td>
                    @Html.ActionLink("Inspect", "Auction", new {id = dto.ID})
                    @Html.ActionLink("Delete", "Delete", new {id = dto.ID})
                </td>
            </tr>
        }
        </tbody>
</table>
