@model IEnumerable<BL.DTOs.Base.ItemDto>

@if (Model.Any())
{
    <table style="width: 100%" title="Items">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Is Auctioned?</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>
                    @if (item.AuctionID.HasValue)
                    {
                        <span>
                            @Html.ActionLink("Yes", "Auction", "Auctions", new {id = item.AuctionID.Value})
                        </span>
                    }
                    else
                    {
                        <span>No</span>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <label>None</label>
}

