@model BL.DTOs.Base.CategoryDto


<h2>Category info</h2>


<form method="post">
    <p>
         <span style="width: 5rem"></span>
    </p>
    <p>
        Name
        @Html.EditorFor(m => m.CategoryType)
    </p>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Description</label>
        @Html.EditorFor(m => m.Description,  new { @class = "form-control rounded-0", @id="exampleFormControlTextarea1", @rows="5" })
        
    </div>
    

    @Html.HiddenFor(m => m.Id)
    <input type="submit" value="Submit">
</form>