@model PL.Models.Home.IndexModel

<p>Index</p>
<div>
    <form method="post">
        @Html.TextBoxFor(m =>m.Search)
        <p style="color: red">
            @Html.ValidationMessageFor(m => m.Search)
        </p>
        <img src="@TempData["img"]"/>
        <div>
            <button type="submit"> Submit this shit</button>
        </div>
        
    </form>
    
</div>