<div>
    @if (!User.Identity.IsAuthenticated)
    {
        <span>
            @Html.ActionLink("Register", "Register", "Account")
        </span>
        <span>
            @Html.ActionLink("Login", "Login", "Account")
        </span>
    
    }
    else
    {
        <p>Logged in as @User.Identity.Name</p>
    }
</div>


