@model BL.DTOs.Base.CurrencyDto

<h2>Currency</h2>

<form method="post">
    <div>
        <p>Code:</p>
        @Html.TextBoxFor(m => m.Code)
    </div>
    <div>
        <p>Exchange rate:</p>
        @Html.TextBoxFor(m => m.ExchangeRate)
    </div>
    <button type="submit">Submit</button>
</form>